<h1>This is About page</h1>
<p>About section is for demo purpose and to give basic idea what is Alpha Blog.</p>
<p>Alpha blog is based on C-create, R-read, U-update, D-delete</p>

<%= link_to 'Articles listing', articles_path%> |
<%= link_to 'Home page', root_path %>